.help {
    width: 80vw;
    height: 80vh;
    background-color: rgba($color: #ffffff, $alpha: 0.95);
    border-radius: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    grid-area: none;
    z-index: 1;
    padding: 2.5rem;
}

.help-pet-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;

    text-align: center;
}
