a {
    background: none;
    border: none;
    text-decoration: none;
    padding: 0.75rem;
    // background-color: white;
    // border-radius: 0 0 0 1rem;
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: 1/1;

    img {
        border-radius: 0.2rem;
        height: 1.5rem;
        transition: scale 200ms ease-in-out;

        &:hover {
            scale: 1.15;
        }
    }
}
