.pet-card {
    width: min-content;
    padding: 1rem;
    border-radius: 1rem;
    transition: border-radius 200ms ease-in-out;
    border: 0.1rem solid black;

    &:hover {
        border-radius: 0;
    }
}
