.pet-card {
    width: min-content;
    padding: 1rem;
    border-radius: 1rem;
    transition: border-radius 200ms ease-in-out;
    border: 0.1rem solid black;
    flex-basis: auto;
    justify-content: space-between;
    width: 100%;
    position: relative;

    * {
        filter: none;
        transition: filter 200ms ease-in-out;
    }

    &:hover:not(.pet-mock) {
        border-radius: 0;

        img {
            border-radius: 0;
        }

        .remove-add {
            opacity: 1;
        }

        *:not(.remove-add) {
            filter: blur(0.5rem);
        }

        cursor: pointer;
    }

    img {
        border-radius: 1rem;
        transition: border-radius 200ms ease-in-out;
        width: 100%;
    }

    p {
        display: flex;
        align-items: center;

        svg {
            margin-right: 0.75rem;
        }
    }

    .time-icon,
    .season-icon {
        position: absolute;
        top: 0.8rem;
        font-size: 1.25rem;
        right: 0.8rem;
    }

    .season-icon {
        top: 2.8rem;
    }
}

$s: 100%;
$l: 88%;

.pet-1 {
    background-color: hsl(120, $s, $l);
}

.pet-2 {
    background-color: hsl(80, $s, $l);
}

.pet-3 {
    background-color: hsl(40, $s, $l);
}

.pet-4 {
    background-color: hsl(0, $s, $l);

    // * {
    //     filter: blur(0.25rem);
    //     transition: filter 200ms ease-in-out;
    // }

    // &:hover * {
    //     filter: none;
    // }
}

.pet-5 {
    opacity: 0.2;
    transition: opacity 200ms ease-in-out;

    &:hover:not(.pet-mock) {
        opacity: 1;
    }
}

.remove-add {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: opacity 200ms ease-in-out;
    text-align: center;
    margin: 0;
    padding: 0.75rem;

    background-color: rgba($color: #ffffff, $alpha: 0.25);
    border-radius: 1rem;
}
