.pets-main {
	display: flex;
	flex-direction: column;

    gap: 1.5rem;
    padding: 1.5rem;

    width: 100%;
}

.pets-grid {
    display: grid;
	grid-template-columns: 1fr;

	gap: 1.5rem;

    @for $i from 1 to 21 {
        :nth-child(#{$i}) {
            animation-delay: calc(25ms * $i);
        }
    }
}

@media (min-width: 640px) {
	.pets-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.pets-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1024px) {
	.pets-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1280px) {
	.pets-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1536px) {
	.pets-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

.filters {
	grid-column: 1 / -1;
    display: flex;
    align-items: center;
	justify-content: space-between;
    gap: 0.5rem;
}

.filters-select {
    border: none;
    font-family: sans-serif;
    font-size: 1rem;

    padding: 0;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.sort {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
