.pets-grid {
	transition: filter 300ms ease-in-out;

    display: grid;
	grid-template-columns: 1fr;

    gap: 1.5rem;
    padding: 1.5rem;

    width: 100%;

    @for $i from 1 to 21 {
        :nth-child(#{$i}) {
            animation-delay: calc(25ms * $i);
        }
    }
}

@media (min-width: 640px) {
	.pets-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 768px) {
	.pets-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1024px) {
	.pets-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1280px) {
	.pets-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1536px) {
	.pets-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

.filters {
	grid-column: 1 / -1;
    flex: 1 1 100%;
}

.filter-settings {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.filters-select,
.sort select,
.sort button {
    border: none;
    font-family: sans-serif;
    font-size: 1rem;

    padding: 0;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.sort {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
